/* Estilos Generales / Globales */
body{
    font-family: "Montserrat", sans-serif;
}

h3{
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    /* reset */
    margin: 0;
}

p{
    font-size: 16px;
    color: #333333;
    /* reset */
    margin: 0;
}

/* Helper */
.container{
    width: 1200px;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Header */
#header{
    margin: 40px 0;
    position: relative;
}

#nav{
    float: right
}

#nav a{
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-decoration: none;
    margin-left: 73px;
}

#nav a + a{
    margin-left: 73px;
}

#logo{
    /* float: left; */
    position: absolute;
    left:0;
}

/* New collection */
#new-collection img{
    width: 100%;
    /* display: block; */
}

/* Features */
.feature-bg{
    padding: 40px 0;
    background-color: #F2F5FF;
}

.feature-item{
    width: 33.33%;
    float: left;
}

/* .feature-item-img, 
.feature-item-content{
    float: left;
} */

.feature-item > div{
    float: left;
}

.feature-item-content{
    margin-left: 27px;
}

.feature-item-content h3{
    margin-bottom: 6px;
}

#footer{
    background-color: green;
    height: 40px;
}

.footer-bg{
    background-color: red;
}